body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111827;
    color: oklch(70.7% .022 261.325);
}

a {
    text-decoration: none;
}

a:active,
a:visited {
    color: inherit;
}

h1,
h2 {
    color: #FFFFFF
}

h3 {
    color: oklch(67.3% .182 276.935);
}

span {
    text-decoration: underline;
    text-decoration-color: #865DF5;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #1E2939;
    width: 100%;
    border-bottom: 1px solid oklch(37.3% .034 259.733);
    padding: 1rem 0;
    min-height: 2rem;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    margin-right: 6rem;
    color: #FFFFFF;
}

.menu>a {
    padding: 0.5rem 0.75rem;
}

.menu>a:hover {
    background-color: #364153;
}

#bento {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    gap: 0.4em;
    margin-left: 15rem;
    color: #FFFFFF;
}

#bento img {
    width: 2em;
    height: 2em;
}

.header {
    text-align: center;
}

.section-divider {
    opacity: .5;
    background: linear-gradient(90deg, #0000, #4d44f7, #0000);
    max-width: 42rem;
    height: 1px;
    margin: 2rem auto;
}