<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
</head>

<body>
    <div>
        <a href="/">Blog</a> &nbsp;
        <a href="/admin">admin</a>
    </div>
    <div class="contenedor">
        {% with messages = get_flashed_messages() %}
        {%for msg in messages%}
        <p class="error">{{msg}}</p>
        {%endfor%}
        {% endwith %}

        {%block content%}{%endblock%}
    </div>
</body>

</html>