        @import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

        * {
            margin: 0;
            padding: 0;
            font-size: 16px;
            box-sizing: border-box;
            font-family: "Open Sans", sans-serif;
            color: #f8f8ff;
        }

        a {
            text-decoration: none;
            margin: 0.25rem;
        }

        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .footerHeader {
            background-color: #252627;
        }

        header {
            padding: 0 5rem;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 3.75rem;
        }

        main {
            display: flex;
            flex-direction: column;
            flex-grow: 9;
            min-height: 0;
            overflow: auto;
            background-color: #292A2D;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }

        .about-container {
            width: 38%;
        }

        .post-container {
            width: 40%;
            margin-bottom: 8rem
        }

        .about-container p {
            margin-bottom: 1rem;
            margin-top: 1rem;
        }

        .about-container ul {
            padding-left: 2.5rem;
        }

        .about-container .codigo {
            margin-bottom: 1rem;
            padding: 1.5rem 0 1.5rem 1rem;
            font-weight: bold;
        }

        .about-container h1,
        .post-container h1 {
            font-size: 2rem;
            font-family: "Fira Mono", monospace;
        }

        .about-container a,
        .post-container a {
            color: #80aadd;
        }

        .about-container a:hover,
        .post-container a:hover {
            text-decoration: underline;
        }

        h1 {
            font-size: 2.5rem;
            font-family: "Fira Mono", monospace;
        }

        footer {
            height: 3.75rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .post {
            background-color: #2F2F2F;
            padding: 0 1rem 2rem 1rem;
            margin: 1rem;
        }

        .post>a h2 {
            font-family: "Fira Mono", monospace;
            color: #80aadd;
        }

        .post>a>div {
            display: flex;
            justify-content: space-between;
        }

        .post-pagination {
            text-align: center;
        }

        .post>a:hover {
            text-decoration: none;
        }